Repository f-droid/fdroiddata: changes, and which GitLab CI jobs are due for each by the changed paths.
All: checkupdates, git redirect, fdroid lint, fdroid lint config, lint, schema validation, fdroid build

Path conditions:
  checkupdates: any of: metadata/**/*, srclibs/**/*
  git redirect: any of: metadata/**/*, srclibs/**/*
  fdroid lint: any of: metadata/**/*, srclibs/**/*
  fdroid lint config: any of: .gitlab-ci.yml, config.yml, config/*.yml, config/*/*.yml
  lint: any of: metadata/**/*, srclibs/**/*
  schema validation: any of: metadata/**/*, srclibs/**/*
  fdroid build: any of: metadata/**/*, srclibs/**/*

toos/keep-latest.sh: use api instead of known apks commit
  tools/keep-latest.sh
Due: none

Update Unstoppable to 0.40.2 (120)
  metadata/io.horizontalsystems.bankwallet.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update ente to 0.9.58 (958)
  metadata/io.ente.photos.fdroid.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update wX to 55920 (55920)
  metadata/joshuatee.wx.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Translated using Weblate (Dutch)
  config/nl/antiFeatures.yml
Due: fdroid lint config

Translated using Weblate (Latvian)
  config/lv/antiFeatures.yml
  config/lv/config.yml
Due: fdroid lint config

Translated using Weblate (Hungarian)
  config/hu/antiFeatures.yml
Due: fdroid lint config

Translated using Weblate (Polish)
  config/pl/antiFeatures.yml
Due: fdroid lint config

Translated using Weblate (French)
  config/fr/antiFeatures.yml
Due: fdroid lint config

Translated using Weblate (Dutch (Belgium))
  config/nl-BE/antiFeatures.yml
Due: fdroid lint config

Translated using Weblate (Czech)
  config/cs/antiFeatures.yml
Due: fdroid lint config

Translated using Weblate (Chinese (Simplified Han script))
  config/zh-CN/antiFeatures.yml
Due: fdroid lint config

Newapp: Recurring Expense Tracker
  metadata/de.dbauer.expensetracker.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update WikiReader to 1.6.2 (13)
  metadata/org.nsh07.wikireader.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update EasySSHFS to 0.5.13 (91)
  metadata/ru.nsu.bobrofon.easysshfs.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Proton Pass to 1.27.0 (12700000)
  metadata/proton.android.pass.fdroid.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Peristyle to v5.2.0 (520)
  metadata/app.simple.peri.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Lissen: update version to 1.0.26
  metadata/org.grakovne.lissen.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update blood pressure app to 1.8.2 (44)
  metadata/com.derdilla.bloodPressureApp.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Mill to 5.4.2 (4366)
  metadata/com.calcitem.sanmill.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Persian Calendar to 9.4.0 (940)
  metadata/com.byagowi.persiancalendar.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update DeepL to 8.6 (39)
  metadata/com.example.deeplviewer.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update WiFi Widget to 1.6.0.1 (62)
  metadata/com.w2sv.wifiwidget.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Pagan Music Sequencer to 1.5.12 (80)
  metadata/com.qfs.pagan.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Easy Sync to 1.13 (14)
  metadata/com.phpbg.easysync.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Nextcloud to 20241109 (20241109)
  metadata/com.nextcloud.android.beta.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Orgzly Revived to 1.8.30 (227)
  metadata/com.orgzlyrevived.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Trail Sense to 6.5.0 (125)
  metadata/com.kylecorry.trail_sense.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

OSMDashboard goes RB
  metadata/de.storchp.opentracks.osmplugin.offline.yml
  metadata/de.storchp.opentracks.osmplugin.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update MonsterMusic to 0.1.40 (40)
  metadata/com.ztftrue.music.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update WG Tunnel to 3.6.0 (36000)
  metadata/com.zaneschepke.wireguardautotunnel.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update FairEmail to 1.2245 (2245)
  metadata/eu.faircode.email.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update io.github.antoinepirlot.satunes to 2.4.5 (63)
  metadata/io.github.antoinepirlot.satunes.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update LabLog to 1.4 (5)
  metadata/si.uni_lj.fe.lablog.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Vernet to 1.0.9 (28)
  metadata/org.fsociety.vernet.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Ciyue to 0.11.1 (273)
  metadata/org.eu.mumulhl.ciyue.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update it.fast4x.rimusic to 0.6.59 (67)
  metadata/it.fast4x.rimusic.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Element X to 0.7.3 (40007034)
  metadata/io.element.android.x.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build
