Repository f-droid/fdroiddata: changes, and which GitLab CI jobs are due for each by the changed paths.
All: checkupdates, git redirect, fdroid lint, fdroid lint config, lint, schema validation, fdroid build

Path conditions:
  checkupdates: any of: metadata/**/*, srclibs/**/*
  git redirect: any of: metadata/**/*, srclibs/**/*
  fdroid lint: any of: metadata/**/*, srclibs/**/*
  fdroid lint config: any of: .gitlab-ci.yml, config.yml, config/*.yml, config/*/*.yml
  lint: any of: metadata/**/*, srclibs/**/*
  schema validation: any of: metadata/**/*, srclibs/**/*
  fdroid build: any of: metadata/**/*, srclibs/**/*

Update Mitch to 2.3.3 (20303)
  metadata/ua.gardenapple.itchupdater.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Release ffupdater 79.3.0
  metadata/de.marmaro.krt.ffupdater.yml
  metadata/de.marmaro.krt.ffupdater/signatures/176/APKSigningBlock
  metadata/de.marmaro.krt.ffupdater/signatures/176/APKSigningBlockOffset
  metadata/de.marmaro.krt.ffupdater/signatures/176/CERT.RSA
  metadata/de.marmaro.krt.ffupdater/signatures/176/CERT.SF
  metadata/de.marmaro.krt.ffupdater/signatures/176/MANIFEST.MF
  metadata/de.marmaro.krt.ffupdater/signatures/176/differences.json
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Binary Eye to 1.63.13 (141)
  metadata/de.markusfisch.android.binaryeye.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Aegis to 3.3.1 (74)
  metadata/com.beemdevelopment.aegis.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Clock to 2.10.1 (2012)
  metadata/com.best.deskclock.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Pineapple Lock Screen to 2.0.0-oss (14)
  metadata/net.blumia.pineapple.lockscreen.oss.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Nextcloud to 20241125 (20241125)
  metadata/com.nextcloud.android.beta.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Geo Share to 1.4.0 (7)
  metadata/page.ooooo.geoshare.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update WiFi Widget to 1.6.1 (63)
  metadata/com.w2sv.wifiwidget.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update KeePassDX to 4.1.1 (133)
  metadata/com.kunzisoft.keepass.libre.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Casio G-Shock Smart Sync to 20.6 (206)
  metadata/org.avmedia.gshockGoogleSync.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Aves Libre to 1.11.19 (13804)
  metadata/deckers.thibault.aves.libre.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Thumb-Key to 4.0.4 (122)
  metadata/com.dessalines.thumbkey.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Waistline to 3.9.0 (30900)
  metadata/com.waist.line.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

com.qfs.pagan - migrated repo to github
  metadata/com.qfs.pagan.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

notesnook - disable failing
  metadata/com.streetwriters.notesnook.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

wifiwidget - limit cores, retry until hash matches
  metadata/com.w2sv.wifiwidget.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

prose - update
  metadata/timur.prose.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

repo/index.html: Apply three language suggestions
  repo/index.html
Due: none

repo/index.html: add icon to Chinese "sharing link"
  repo/index.html
Due: none

gitlab-ci: add job to check repo/index.html
  .gitlab-ci.yml
  repo/index.html
Due: fdroid lint config

repo/index.html: switched action to "sharing link" rather than clicking
  repo/index.html
Due: none

fixes from https://validator.w3.org/
  repo/index.html
Due: none

require review for changes on .gitignore
  .gitlab/CODEOWNERS
Due: none

add index page with instructions to be displayed on mirrors
  .gitignore
  .gitlab/CODEOWNERS
  repo/index.css
  repo/index.html
Due: none

ℹ️ css based translation on mirror index page
  repo/index.css
  repo/index.html
Due: none

prose - fix lint
  metadata/timur.prose.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Infomaniak Mail to 1.6.7 (10600701)
  metadata/com.infomaniak.mail.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update kDrive to 5.2.5 (50200501)
  metadata/com.infomaniak.drive.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update ImapNotes3 to v1.4-01 (10401)
  metadata/de.niendo.ImapNotes3.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update EasyLauncher to 0.2.8 (28)
  metadata/app.easy.launcher.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Money Manager Ex to 2024.11.25 (1049)
  metadata/com.money.manager.ex.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update ac.mdiq.podcini.R to 6.14.7 (3020306)
  metadata/ac.mdiq.podcini.R.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Thumb-Key to 4.0.5 (123)
  metadata/com.dessalines.thumbkey.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Waistline to 3.9.1 (30901)
  metadata/com.waist.line.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Nextcloud to 20241126 (20241126)
  metadata/com.nextcloud.android.beta.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Monly to 2.13 (51)
  metadata/org.asafonov.monly.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Update Casio G-Shock Smart Sync to 20.7 (207)
  metadata/org.avmedia.gshockGoogleSync.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Apply 1 suggestion(s) to 1 file(s)
  metadata/de.tutao.tutanota.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build

Apply 4 suggestion(s) to 1 file(s)
  metadata/de.tutao.tutanota.yml
Due: checkupdates, git redirect, fdroid lint, lint, schema validation, fdroid build
